<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Satway</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">


</head>

<body>
  <nav class="navbar mainnav ">
    <a class="navbar-brand" href="#">
      <img src="{% static 'img/satwaylogo.png' %}" width="40" height="40" class="d-inline-block align-top" alt="">
      <img src="{% static 'img/satwayfont1.png' %}" style="padding-left: 20px;" width="180" height="25"
        class="d-inline-block align-middle" alt="">
    </a>
    <ul>
      {% with url_name=request.resolver_match.url_name %}
      <li><a style="color: #FFFF57;font-weight: bold;" class="{% if url_name == 'adminpage' %}active{% endif %}" href="{% url 'generator:adminpage' %}">ADMIN</a></li>

      <li><a class="{% if url_name == 'qr_generatepage' %}active{% endif %}" href="{% url 'generator:qr_generatepage' %}">QR Generator</a>
      </li>
      <li><a class="{% if url_name == 'uin_linkpage' %}active{% endif %}" href="{% url 'generator:uin_linkpage' %}">Link UIN</a></li>
      <li><a class="{% if url_name == 'imei_generatepage' %}active{% endif %}"href="{% url 'generator:imei_generatepage' %}">IMEI
          Generator</a></li>
      <li><a class="{% if url_name == 'productpage' %}active{% endif %}"href="{% url 'generator:productpage' %}">Products</a></li>
      <li><a style="color: #FFFF57;" class="{% if url_name == 'logoutpage' %}active{% endif %}"href="{% url 'generator:logoutpage' %}">Logout</a></li>

      {% endwith %}
    </ul>
  </nav>
  {% block page %}

  {% endblock page %}

</body>

</html>