{% extends 'base.html'%}
{% block page %}


{% load static %}

<style>
    .form-control {
        font-size: large;
        background-color: #232E48;
        color: aliceblue;
    }

    .form-control:focus {
        font-size: large;
        background-color: #232E48;
        color: aliceblue;
    }

    .form-control[readonly] {
        font-size: large;
        background-color: #0E1726;
        color: aliceblue;
    }
</style>

<div class="container-fluid ">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">
            <div class="headingdiv">
                <h3>PRODUCTS</h3>
            </div>



            <div class="maindiv">
                <div class="row " style="padding-top: 10px;">
                    <div class="col-sm-2 col-md-2 col-xs-2">
                        <h4>Final Products :</h4>
                    </div>
                    <div class="col-sm-1 col-md-1 col-xs-1"></div>
                    <div class="col-sm-2 col-md-2 col-xs-2">
                        <div class="form-group row">
                            <div class="col-sm-5 col-md-5 col-xs-5">
                                <label for="A_count"> Batch A</label>
                            </div>
                            <div class="col-sm-7 col-md-7 col-xs-7">
                                <input class="form-control" type="text" id="A_count" name="A_count" value="{{countA}}"
                                    readonly>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-2 col-md-2 col-xs-2">
                        <div class="form-group row">
                            <div class="col-sm-5 col-md-5 col-xs-5">
                                <label for="B_count"> Batch B</label>
                            </div>
                            <div class="col-sm-7 col-md-7 col-xs-7">
                                <input class="form-control" type="text" id="B_count" name="B_count" value="{{countB}}"
                                    readonly>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-2 col-md-2 col-xs-2">
                        <div class="form-group row">
                            <div class="col-sm-5 col-md-5 col-xs-5">
                                <label for="A_count"> Batch C</label>
                            </div>
                            <div class="col-sm-7 col-md-7 col-xs-7">
                                <input class="form-control" type="text" id="C_count" name="C_count" value="{{countC}}"
                                    readonly>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-2 col-md-2 col-xs-2">
                        <div class="form-group row">
                            <div class="col-sm-5 col-md-5 col-xs-5">
                                <label for="total"> Total</label>
                            </div>
                            <div class="col-sm-7 col-md-7 col-xs-7">
                                <input class="form-control" type="text" id="total" name="total" value="{{total}}"
                                    readonly>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-1 col-md-1 col-xs-1"></div>

                </div>

            </div>


           

            <div class="headingdiv">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-xs-3">
                        <h5 style="padding-top:8px;">Download the Excel File</h5></div>
        
                    <div class="col-sm-2 col-md-2 col-xs-2">
                        <a href="{% url 'generator:export_excelpage' %}"><input  type="submit" id= "submit"  class="btn btn-success btn-lg align-bottom"
                  value="Download"></a>
                </div>
                <div class="col-sm-7 col-md-7 col-xs-7"></div>
            </div>
            </div>

            


        </div>
    </div>

</div>




{% endblock page %}